.section {
  margin: 1rem;
  padding: 0.5rem;
}
.mokuno {
  position: relative;
  padding: 2rem;
  .collar {
    z-index: 2;
  }
  .body {
    position: relative;
    left: 1.4rem;
    top: -0.8rem;
    z-index: 1;
  }

  .tails {
    position: relative;
    top: -0.8rem;
    left: 1.4rem;
    z-index: 1;
  }
}
